<div class="container text-center" style="margin: auto; padding-top: 8.5rem">

    <h1 class="text-center" style="margin: auto; padding-top: 10.5rem; padding-bottom: 1.5rem;">Merhaba!</h1>
    <p class="text-center fs-4">Sende profiline havalı efektler eklemek ister misin?</p>     
        
    

    <div style="padding-top: 1.5rem;">
        <form action="avatar" method="POST">
            <button class="btn btn-outline-dark">O zaman, hadi başlayalım!</button>    
        </form>
    </div>
</div>
